.board {
    border: 2px solid black;
    margin: 5px;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(5,1fr);
    width:500px;
    height: 500px;
    background-color: grey;
}

.youfailed {
    font-size: 500px;
    color: black;
}

.youWon {
    font-size: 50px;
}